<div class="flex flex-col justify-center p-5">
  <!-- For the header section in the blog posts All posts etc.. -->
  <div
    class="flex flex-col items-center gap-6 md:min-w-[55.25rem] max-w-[45.rem] py-5 px-5 md:px-28 text-center bg-slate-200"
  >
    <h1 class="text-3xl font-medium">All Subscribers</h1>
    <p>From here you can manage your subscribers</p>
    <div class="flex flex-col md:flex-row gap-7">
      <button routerLink="/" class="p-4 bg-yellow-200">Back to home</button>
    </div>
  </div>
  <!-- first row in the all posts section -->
  <div class="flex gap-2 mt-10 border rounded-md border-black/30">
    <div class="flex-1 p-2">No.</div>
    <div class="flex-1 p-2">Name</div>
    <div class="flex-1 p-2">Email</div>
    <div class="flex-1 p-2">Actions</div>
  </div>
  <!-- Second row for the table of posts and content image  -->
  <!-- dynamically loading data from database -->
  <div
    class="flex w-full gap-2 mt-5"
    *ngFor="let item of subscribersArray; let i = index"
  >
    <div class="flex-1 p-2">{{ i + 1 }}</div>

    <div class="flex-1 p-2">{{ item.data.name }}</div>
    <div class="flex-1 p-2">{{ item.data.email }}</div>
    <!-- for the buttons in the action tab edit delete feature -->
    <div class="flex gap-3 flex-1 flex-row p-2 max-w-10%">
      <button
        class="h-24 p-2 bg-red-400 rounded-lg"
        (click)="onDelete(item.id)"
      >
        Delete Subscriber
      </button>
    </div>
  </div>
</div>
