<section class="container mx-auto">
  <div>
    <div class="px-4 py-3 shadow bg-secondary text-primary">
      <h1 class="text-2xl text-center md:text-5xl">All new post</h1>
      <p class="text-center">You can add your new posts here</p>
      <form class="mt-4 md:mt-6">
        <!-- Title  -->
        <div class="grid">
          <label class="px-4 py-1" for="">Title</label>
          <input
            #inputValue
            class="outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow"
            type="text"
          />

          <!-------------------------------------------- New Reactive Form Validation  --------------------------------------------------->
        </div>
        <div class="grid">
          <label class="px-4 py-1" for="">Permalink</label>
          <input
            value="{{ permalink }}"
            name="permalink"
            class="pointer-events-none outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow"
            type="text"
          />
        </div>
        <!-- Excerpt -->
        <div class="grid">
          <label class="px-4 py-1" for="">Excerpt</label>
          <textarea
            class="outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow"
            name=""
            id=""
            cols="30"
            rows="3"
          ></textarea>
        </div>
        <!-- Category -->
        <div class="grid">
          <label class="px-4 py-1" for="">Please select a category</label>
          <select
            class="outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow"
          >
            <option
              disabled
              class="outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow"
            >
              Choose a category
            </option>
            <option
              *ngFor="let item of categories"
              class="outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow"
              value="{{ item.id }}-{{ item.data.category }}"
            >
              {{ item.data.category }}
            </option>
          </select>
        </div>
        <!-- Image Posting -->
        <div class="grid">
          <label class="px-4 py-1" for="">Post Image</label>
          <img [src]="imgSrc" class="h-[320px] px-6 py-1 mb-2 mx-2 shadow" />
          <input
            formControlName="postImg"
            (change)="showPreview($event)"
            type="file"
            accept="Image/*"
            class="outline-none px-6 py-1 mb-2 mx-2 w-[60%] md:w-[100%] border-2 md:py-2 rounded shadow"
          />
        </div>
        <!-- Content Area -->
        <div class="grid">
          <label class="px-4 py-1">Content</label>
          <angular-editor placeholder="Enter your details"></angular-editor>
        </div>
        <!-- Buttons  -->
        <div class="flex items-center justify-center gap-5 my-4">
          <button class="px-10 py-2 bg-[#02646793] text-secondary rounded">
            Save Post
          </button>
          <ng-template #success>
            <button
              class="px-10 py-2 mt-2 text-xs rounded shadow-md bg-primary text-secondary md:text-base md:py-2"
            >
              Add Category
            </button>
          </ng-template>
          <button class="px-10 py-2 bg-yellow-600 rounded text-secondary">
            Back to Post
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
