<div class="h-[22rem] flex flex-row mb-48 justify-center gap-32 cursor-pointer">
  <div class="flex gap-12 flex-col">
    <div
      class="bg-primary-color/30 flex items-center flex-col gap-7 p-10"
      routerLink="/categories"
    >
      <span class="text-7xl material-symbols-outlined"> calendar_month </span>
      <h1>Category</h1>
      <p>Manage your Category Details</p>
    </div>
    <div class="bg-primary-color/30 flex items-center flex-col gap-7 p-10">
      <span class="text-7xl material-symbols-outlined"> calendar_month </span>
      <h1>Category</h1>
      <p>Manage your Category Details</p>
    </div>
  </div>
  <div class="flex gap-12 flex-col">
    <div class="bg-primary-color/30 flex items-center flex-col gap-7 p-10">
      <span class="text-7xl material-symbols-outlined"> calendar_month </span>
      <h1>Category</h1>
      <p>Manage your Category Details</p>
    </div>
    <div class="bg-primary-color/30 flex items-center flex-col gap-7 p-10">
      <span class="text-7xl material-symbols-outlined"> calendar_month </span>
      <h1>Category</h1>
      <p>Manage your Category Details</p>
    </div>
  </div>
</div>
