/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
// * added the toaster npm module using the npm command and then
@import "node_modules/ngx-toastr/toastr";
