<div class="flex flex-col justify-center p-5">
  <div
    class="flex flex-col items-center gap-6 md:min-w-[55.25rem] max-w-[45.rem] py-5 px-5 md:px-28 text-center bg-slate-200"
  >
    <h1 class="text-3xl font-medium">All Blog Posts</h1>
    <p>From here you can manage you blog posts</p>
    <div class="flex flex-col md:flex-row gap-7">
      <button routerLink="/posts/new" class="p-4 bg-[#03636a] text-white">
        Add New Posts
      </button>
      <button routerLink="/" class="p-4 bg-yellow-200">Back to home</button>
    </div>
  </div>
  <div class="flex gap-2 mt-10 border rounded-md border-black/30">
    <div class="flex-1 p-2">No.</div>
    <div class="p-2 flex-[2]">Post Image</div>
    <div class="flex-1 p-2">Title</div>
    <div class="p-2 flex-[2]">Excerpt</div>
    <div class="flex-1 p-2">Category</div>
    <div class="flex-1 p-2">Date</div>
    <div class="flex-1 p-2">Actions</div>
  </div>
  <div
    class="flex w-full gap-2 mt-5"
    *ngFor="let post of postArray; let i = index"
  >
    <div class="flex-1 p-2 max-w-[10%]">{{ i + 1 }}</div>
    <div class="flex-[2] max-w-[20%] p-2 min-w-[12rem]">
      <img class="max-h-[7.5rem]" src="{{ post.data.postImgPath }}" alt="" />
    </div>
    <div class="flex-1 p-2 min-w-[10%]">{{ post.data.title }}</div>
    <div class="flex-[2] p-2 min-w-[40%]">{{ post.data.excerpt }}</div>
    <div class="flex-1 p-2 min-w-[10%]">{{ post.data.category.category }}</div>
    <div class="flex-1 p-2 min-w-[10%]">
      {{ post.data.createdAt.toMillis() | date }}
    </div>
    <div class="flex gap-6 flex-1 flex-row p-2 w-10%">
      <button
        class="p-2 bg-yellow-300 max-h-[6.25rem]"
        routerLink="/posts/new"
        [queryParams]="{ id: post.id }"
      >
        Edit posts
      </button>
      <button
        class="p-2 bg-red-400 max-h-[6.25rem]"
        (click)="onDelete(post.data.postImgPath, post.id)"
      >
        Delete posts
      </button>
    </div>
    <hr class="text-black" />
  </div>
</div>
